controller_names:
  - arm_controller

arm_controller:
  type: joint_trajectory_controller/JointTrajectoryController
  joints:
    - joint1
    - joint2
    - joint3
    - joint4
    - joint5
    - joint6
  state_publish_rate: 25
  action_monitor_rate: 10